lib/tasks/import.rake
config/*.yml
config/database.yml
config/gmaps_api_key.yml
*.sqlite3
log/*.log
tmp/
tmp/*
tmp/**/*
doc/api
doc/app
db/*.sqlite3
*.swp
*~
.DS_Store
.project
.bundle
*.lock
*.out
*.rvmrc
