/* begin Page */
/* Created by Artisteer v3.1.0.46558 */

#fs-main, table
{
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

.fs-postcontent,
.fs-postheadericons,
.fs-postfootericons,
.fs-blockcontent-body,
ul.fs-vmenu a 
{
   text-align: left;
}

.fs-postcontent,
.fs-postcontent li,
.fs-postcontent table,
.fs-postcontent a,
.fs-postcontent a:link,
.fs-postcontent a:visited,
.fs-postcontent a.visited,
.fs-postcontent a:hover,
.fs-postcontent a.hovered
{
   font-family: Arial, Helvetica, Sans-Serif;
}

.fs-postcontent p
{
   margin: 12px 0;
}

.fs-postcontent h1, .fs-postcontent h1 a, .fs-postcontent h1 a:link, .fs-postcontent h1 a:visited, .fs-postcontent h1 a:hover,
.fs-postcontent h2, .fs-postcontent h2 a, .fs-postcontent h2 a:link, .fs-postcontent h2 a:visited, .fs-postcontent h2 a:hover,
.fs-postcontent h3, .fs-postcontent h3 a, .fs-postcontent h3 a:link, .fs-postcontent h3 a:visited, .fs-postcontent h3 a:hover,
.fs-postcontent h4, .fs-postcontent h4 a, .fs-postcontent h4 a:link, .fs-postcontent h4 a:visited, .fs-postcontent h4 a:hover,
.fs-postcontent h5, .fs-postcontent h5 a, .fs-postcontent h5 a:link, .fs-postcontent h5 a:visited, .fs-postcontent h5 a:hover,
.fs-postcontent h6, .fs-postcontent h6 a, .fs-postcontent h6 a:link, .fs-postcontent h6 a:visited, .fs-postcontent h6 a:hover,
.fs-blockheader .t, .fs-blockheader .t a, .fs-blockheader .t a:link, .fs-blockheader .t a:visited, .fs-blockheader .t a:hover,
.fs-vmenublockheader .t, .fs-vmenublockheader .t a, .fs-vmenublockheader .t a:link, .fs-vmenublockheader .t a:visited, .fs-vmenublockheader .t a:hover,
.fs-logo-name, .fs-logo-name a, .fs-logo-name a:link, .fs-logo-name a:visited, .fs-logo-name a:hover,
.fs-logo-text, .fs-logo-text a, .fs-logo-text a:link, .fs-logo-text a:visited, .fs-logo-text a:hover,
.fs-postheader, .fs-postheader a, .fs-postheader a:link, .fs-postheader a:visited, .fs-postheader a:hover
{
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
}

.fs-postcontent a
{
   text-decoration: none;
   color: #006DEB;
}

.fs-postcontent a:link
{
   text-decoration: none;
   color: #006DEB;
}

.fs-postcontent a:visited, .fs-postcontent a.visited
{
   color: #757575;
}

.fs-postcontent  a:hover, .fs-postcontent a.hover
{
   text-decoration: underline;
   color: #09BDDC;
}

.fs-postcontent h1
{
   color: #0051AD;
   margin: 10px 0 0;
   font-size: 26px;
}

.fs-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 26px;
}

.fs-postcontent h1 a, .fs-postcontent h1 a:link, .fs-postcontent h1 a:hover, .fs-postcontent h1 a:visited, .fs-blockcontent h1 a, .fs-blockcontent h1 a:link, .fs-blockcontent h1 a:hover, .fs-blockcontent h1 a:visited 
{
   font-size: 26px;
}

.fs-postcontent h2
{
   color: #006DEB;
   margin: 10px 0 0;
}

.fs-blockcontent h2
{
   margin: 10px 0 0;
}

.fs-postcontent h3
{
   color: #1A7ED1;
   margin: 10px 0 0;
   font-size: 18px;
}

.fs-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 18px;
}

.fs-postcontent h3 a, .fs-postcontent h3 a:link, .fs-postcontent h3 a:hover, .fs-postcontent h3 a:visited, .fs-blockcontent h3 a, .fs-blockcontent h3 a:link, .fs-blockcontent h3 a:hover, .fs-blockcontent h3 a:visited 
{
   font-size: 18px;
}

.fs-postcontent h4
{
   color: #696969;
   margin: 10px 0 0;
   font-size: 16px;
}

.fs-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 16px;
}

.fs-postcontent h4 a, .fs-postcontent h4 a:link, .fs-postcontent h4 a:hover, .fs-postcontent h4 a:visited, .fs-blockcontent h4 a, .fs-blockcontent h4 a:link, .fs-blockcontent h4 a:hover, .fs-blockcontent h4 a:visited 
{
   font-size: 16px;
}

.fs-postcontent h5
{
   color: #696969;
   margin: 10px 0 0;
   font-size: 14px;
}

.fs-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 14px;
}

.fs-postcontent h5 a, .fs-postcontent h5 a:link, .fs-postcontent h5 a:hover, .fs-postcontent h5 a:visited, .fs-blockcontent h5 a, .fs-blockcontent h5 a:link, .fs-blockcontent h5 a:hover, .fs-blockcontent h5 a:visited 
{
   font-size: 14px;
}

.fs-postcontent h6
{
   color: #919191;
   margin: 10px 0 0;
   font-size: 13px;
}

.fs-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
}

.fs-postcontent h6 a, .fs-postcontent h6 a:link, .fs-postcontent h6 a:hover, .fs-postcontent h6 a:visited, .fs-blockcontent h6 a, .fs-blockcontent h6 a:link, .fs-blockcontent h6 a:hover, .fs-blockcontent h6 a:visited 
{
   font-size: 13px;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height:100%;
}

#fs-main
{
   position: relative;
   z-index: 0;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}

body
{
   padding: 0;
   margin:0;
   min-width: 1000px;
   color: #3D3D3D;
   background-color: #FCFCFC;
}

.cleared
{
   display:block;
   clear: both;
   float: none;
   margin: 0;
   padding: 0;
   border: none;
   font-size: 0;
   height:0;
   overflow:hidden;
}

.reset-box
{
   overflow:hidden;
   display:table;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

/* Start Box */
.fs-box, .fs-box-body {
   margin:0 auto;
   position:relative;
}
.fs-box:before, .fs-box:after, .fs-box-body:before, .fs-box-body:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat: no-repeat;
   line-height:0;
}
.fs-box:before,.fs-box-body:before{
   left:0;
}
.fs-box:after,.fs-box-body:after{
   right:0;
}
.fs-box:before {
   overflow:hidden;
   background-position: bottom left;
   direction: ltr;
   z-index:-3;
}
.fs-box:after {
   background-position: bottom right;
   z-index:-3;
}
.fs-box-body:before, .fs-box-body:after {
   background-repeat:repeat-y;
}
.fs-box-body:before {
   background-position: top left;
   z-index:-3;
}
.fs-box-body:after {
   background-position: top right;
   z-index:-3;
}

.fs-box .fs-box:before, .fs-box .fs-box:after, .fs-box-body .fs-box-body:before, .fs-box-body .fs-box-body:after {
   z-index:-2;
}
.fs-box .fs-box .fs-box:before, .fs-box .fs-box .fs-box:after, .fs-box-body .fs-box-body .fs-box-body:before, .fs-box-body .fs-box-body .fs-box-body:after {
   z-index:-1;
}
/* End Box */

/* Start Bar */
.fs-bar {
   position:relative;
}
.fs-bar:before, .fs-bar:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat;
   z-index:-1;
}
.fs-bar:before {
   left:0;
   background-position: top left;
}
.fs-bar:after {
   right:0;
   background-position: top right;
}
/* End Bar */

li h1, .fs-postcontent li h1, .fs-blockcontent-body li h1 
{
   margin:1px;
} 
li h2, .fs-postcontent li h2, .fs-blockcontent-body li h2 
{
   margin:1px;
} 
li h3, .fs-postcontent li h3, .fs-blockcontent-body li h3 
{
   margin:1px;
} 
li h4, .fs-postcontent li h4, .fs-blockcontent-body li h4 
{
   margin:1px;
} 
li h5, .fs-postcontent li h5, .fs-blockcontent-body li h5 
{
   margin:1px;
} 
li h6, .fs-postcontent li h6, .fs-blockcontent-body li h6 
{
   margin:1px;
} 
li p, .fs-postcontent li p, .fs-blockcontent-body li p 
{
   margin:1px;
}

/* end Page */

/* begin Box, Sheet */
.fs-sheet
{
   max-width:1000px;
   margin-top: 23px;
   margin-bottom: -7px;
   cursor:auto;
   width: 1000px;
}
.fs-sheet-body 
{
   padding:8px;
   min-width:52px;
   min-height:52px;
   padding-top:8px;
   padding-bottom:8px;
}
.fs-sheet:before, .fs-sheet:after 
{
   content: url('../images/sheet_t.png');
   font-size: 0;
   background-image: url('../images/sheet_b.png');
}
.fs-sheet:after{
   clip:rect(auto, auto, auto, 966px);
}
.fs-sheet:before,.fs-sheet-body:before{
   right:34px;
}
.fs-sheet-body:after{
   width: 34px;
   top:34px;
   bottom:34px;
   background-image:url('../images/sheet.png');
}
.fs-sheet-body:before{
   top:34px;
   bottom:34px;
   background-image:url('../images/sheet.png');
}

/* end Box, Sheet */

/* begin Header */
div.fs-header
{
   margin: 0 auto;
   position: relative;
   width:100%;
   height: 85px;
   margin-top: 0;
   margin-bottom: 0;
}

.fs-header:before
{
   position: absolute;
   display:block;
   content:' ';
   z-index:-2;
   top: 0;
   width:100%;
   height: 85px;
   background-image: url('../images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

.fs-header:after
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top: 0;
   left:5px;
   right:5px;
   height: 85px;
   background-image: url('../images/header.jpg');
   background-repeat: no-repeat;
   background-position: center center;
}
/* end Header */

/* begin Logo */
div.fs-logo
{
   display: block;
   position: absolute;
   top: 37px;
   left: 0;
   margin-left: 12px;
   width: 90%;
}

.fs-logo-name
{
   display: block;
    float: left;
   text-align: left;
   font-size: 28px;
   padding: 0;
   margin: 0;
   color: #FFFFFF !important;
}
.fs-logo-name a, 
.fs-logo-name a:link, 
.fs-logo-name a:visited, 
.fs-logo-name a:hover
{
   font-size: 28px;
   padding: 0;
   margin: 0;
   color: #FFFFFF !important;
}

.fs-logo-text
{
   display: block;
     float: right;
   text-align: left;
   font-size: 14px;
   padding: 0;
   margin: 0;
   color: #FFFFFF !important;
}
.fs-logo-text a,
.fs-logo-text a:link,
.fs-logo-text a:visited,
.fs-logo-text a:hover
{
   font-size: 14px;
   padding: 0;
   margin: 0;
   color: #FFFFFF !important;
}

#headline, #slogan 
{
   display: block;
   min-width: 150px;
   text-align: left;
}
/* end Logo */

/* begin Menu */
/* menu structure */

ul.fs-hmenu a, ul.fs-hmenu a:link, ul.fs-hmenu a:visited, ul.fs-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.fs-hmenu, ul.fs-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.fs-hmenu li
{
   margin: 0;
   padding: 0;
   border: 0;
   display: block;
   float: left;
   position: relative;
   z-index: 5;
   background: none;
}

ul.fs-hmenu li:hover{
   z-index: 10000;
   white-space: normal;
}
ul.fs-hmenu li li{
   float: none;
   width: auto;
}
ul.fs-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
ul.fs-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}
ul.fs-hmenu:after, ul.fs-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}
ul.fs-hmenu, ul.fs-hmenu ul {
   min-height: 0;
}

ul.fs-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('../images/spacer.gif');
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

ul.fs-hmenu ul.fs-hmenu-left-to-right {
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}
ul.fs-hmenu ul.fs-hmenu-right-to-left {
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

ul.fs-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
   z-index: -1;
}

ul.fs-hmenu ul ul.fs-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
}

ul.fs-hmenu ul ul.fs-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
   margin-right: -11px;
}

ul.fs-hmenu li li:hover>ul.fs-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
ul.fs-hmenu li li:hover>ul.fs-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

ul.fs-hmenu{
   position:relative;
   padding: 0 0 0 0;
   float: left;
}

/* end menu structure */

/* menu bar */

.fs-nav
{
   margin:0 auto;
   min-height: 40px;
   z-index: 100;
   margin-top: 0;
   margin-bottom: 0;
}

.fs-nav:before, .fs-nav:after{
   background-image: url('../images/nav.png');
}
.fs-nav:before{
   right: 5px;
}
.fs-nav:after{
   width: 5px;
}
/* end menu bar */
.fs-nav-outer{
   position:absolute;
   width:100%;
}

/* end Menu */

/* begin MenuItem */
ul.fs-hmenu>li>a
{
   position: relative;
   display: block;
   height: 40px;
   cursor: pointer;
   text-decoration: none;
   color: #9ECBFF;
   padding: 0 14px;
   line-height: 40px;
   text-align: center;
}

ul.fs-hmenu>li>a:before, ul.fs-hmenu>li>a:after
{
   position: absolute;
   display: block;
   content:' ';
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('../images/menuitem.png');
}

ul.fs-hmenu>li>a:before
{
   left: 0;
   right: 0;
   background-position: top left;
}

ul.fs-hmenu>li>a:after
{
   width: 0;
   right: 0;
   background-position: top right;
}

.fs-hmenu a, .fs-hmenu a:link, .fs-hmenu a:visited, .fs-hmenu a:hover
{
   text-align: left;
   text-decoration: none;
}

ul.fs-hmenu>li>a.active:before {
   background-position: bottom left;
} 
ul.fs-hmenu>li>a.active:after {
   background-position: bottom right;
}
ul.fs-hmenu>li>a.active {
   color: #FFFFFF;
}

ul.fs-hmenu>li>a:hover:before, ul.fs-hmenu>li:hover>a:before {
   background-position: center left;
}
ul.fs-hmenu>li>a:hover:after, ul.fs-hmenu>li:hover>a:after {
   background-position: center right;
}
ul.fs-hmenu>li>a:hover, ul.fs-hmenu>li:hover>a{
   color: #DBDBDB;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.fs-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -1px;
   width:1px;
   height: 40px;
   background: url('../images/menuseparator.png') center center no-repeat;
}

ul.fs-hmenu>li {
   margin-left:1px;
}
ul.fs-hmenu>li:first-child {
   margin-left:0;
}

ul.fs-hmenu>li:first-child:before{
   display:none;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.fs-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 24px;
   background-image: url('../images/subitem.png');
   background-position: left top;
   background-repeat: repeat-x;
   border-width: 1px;
   border-style: solid;
   border-top-width: 0;
   border-color: #0066DB;
   min-width: 7em;
   text-align: left;
   text-decoration: none;
   line-height: 24px;
   color: #00397A;
   margin:0;
   padding: 0 22px;
}

.fs-hmenu ul>li:first-child>a
{
   border-top-width: 1px;
}

.fs-hmenu ul a:link, .fs-hmenu ul a:visited, .fs-hmenu ul a:hover, .fs-hmenu ul a:active
{
   text-align: left;
   text-decoration: none;
   line-height: 24px;
   color: #00397A;
   margin:0;
   padding: 0 22px;
}

.fs-hmenu ul li a:hover
{
   color: #061E32;
   background-position: left bottom;
   border-color: #0066DB;
   border-top-width: 1px !important;
}

.fs-hmenu ul li a.fs-hmenu-before-hovered
{
   border-bottom-width: 0 !important;
}

.fs-hmenu ul li:hover>a
{
   color: #061E32;
   background-position: left bottom;
   border-color: #0066DB;
   border-top-width: 1px !important;
}

/* end MenuSubItem */

/* begin Layout */
.fs-layout-wrapper
{
   position:relative;
   margin:0 auto 0 auto;
}

.fs-content-layout
{
   display: table;
   width:100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.fs-content-layout-row {
   display: table-row;
}

.fs-layout-cell
{
   display: table-cell;
   vertical-align: top;
}
/* end Layout */

/* begin Button */
span.fs-button-wrapper>a.fs-button,
span.fs-button-wrapper>a.fs-button:link,
span.fs-button-wrapper>input.fs-button,
span.fs-button-wrapper>button.fs-button
{
   text-decoration: none;
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   position:relative;
   top:0;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #000000 !important;
   width: auto;
   outline: none;
   border: none;
   background: none;
   line-height: 31px;
   height: 31px;
   margin: 0 !important;
   padding: 0 16px !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
}

.fs-button img, span.fs-button-wrapper img
{
   margin: 0;
   vertical-align: middle;
}

span.fs-button-wrapper
{
   vertical-align: middle;
   display: inline-block;
   position: relative;
   height: 31px;
   overflow: hidden;
   white-space: nowrap;
   text-indent: 0;
   width: auto;
   max-width:984px;
   margin: 0;
   padding: 0;
   z-index: 0;
}

.firefox2 span.fs-button-wrapper
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
}

div.fs-block select 
{
   width:96%;
}

span.fs-button-wrapper.hover>.fs-button, span.fs-button-wrapper.hover>a.fs-button:link
{
   color: #000000 !important;
   text-decoration: none !important;
}

span.fs-button-wrapper.active>.fs-button, span.fs-button-wrapper.active>a.fs-button:link
{
   color: #061E32 !important;
}

span.fs-button-wrapper>span.fs-button-l, span.fs-button-wrapper>span.fs-button-r
{
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   margin: 0;
   padding: 0;
   background-image: url('../images/button.png');
   background-repeat: no-repeat;
}

span.fs-button-wrapper>span.fs-button-l
{
   left: 0;
   right: 10px;
   background-position: top left;
}

span.fs-button-wrapper>span.fs-button-r
{
   width: 10px;
   right: 0;
   background-position: top right;
}

span.fs-button-wrapper.hover>span.fs-button-l
{
   background-position: center left;
}

span.fs-button-wrapper.hover>span.fs-button-r
{
   background-position: center right;
}

span.fs-button-wrapper.active>span.fs-button-l
{
   background-position: bottom left;
}

span.fs-button-wrapper.active>span.fs-button-r
{
   background-position: bottom right;
}

span.fs-button-wrapper input
{
   float: none !important;
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.fs-vmenublock
{
   max-width:984px;
   margin: 10px;
}
.fs-vmenublock-body 
{
   padding:0;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.fs-vmenublockheader {
   margin-bottom: 0;
   min-height: 26px;
   line-height:26px;
}

.fs-vmenublockheader .t
{
   min-height: 26px;
   line-height:26px;
   color: #000000;
   font-size: 14px;
   margin:0;
   padding: 0 5px 0 5px;
   white-space: nowrap;
}

.fs-vmenublockheader .t a,
.fs-vmenublockheader .t a:link,
.fs-vmenublockheader .t a:visited, 
.fs-vmenublockheader .t a:hover
{
   color: #000000;
   font-size: 14px;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.fs-vmenublockcontent
{
   max-width:984px;
}
.fs-vmenublockcontent-body 
{
   padding:0;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.fs-vmenu, ul.fs-vmenu ul
{
   list-style: none;
   display: block;
}

ul.fs-vmenu, ul.fs-vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.fs-vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

ul.fs-vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position:relative;
   margin-left: 0;
   margin-right: 0;
}

ul.fs-vmenu ul.active
{
   display: block;
}
/* end VMenu */

/* begin VMenuItem */
ul.fs-vmenu a 
{
   display: block;
   cursor: pointer;
   z-index:0;
   text-decoration: none;
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   margin-left:0;
   margin-right:0;
   position:relative;
}

ul.fs-vmenu li{
   position:relative;
}

ul.fs-vmenu>li>a 
{
   color: #1C1C1C;
   padding: 0 11px 0 11px;
   height: 30px;
   line-height: 30px;
   white-space: nowrap;
}

ul.fs-vmenu>li>a.active {
   color: #D6E9FF;
}
ul.fs-vmenu a:hover, ul.fs-vmenu a.active:hover {
   color: #9ECBFF;
}

ul.fs-vmenu>li>a:before, ul.fs-vmenu>li>a:after 
{
   position: absolute;
   display: block;
   content: ' ';
   z-index:-1;
   background-image: url('../images/vmenuitem.png');
   top:0;
   height:30px;
}

ul.fs-vmenu>li>a:before{
   left: 0;
   right: 4px;
   background-position: top left;
}
ul.fs-vmenu>li>a:after{
   width: 4px;
   right: 0;
   background-position: top right;
}
ul.fs-vmenu>li>a.active:before {
   background-position: bottom left;
}
ul.fs-vmenu>li>a.active:after {
   background-position: bottom right;
}
ul.fs-vmenu>li>a:hover:before  {
   background-position: center left;
}
ul.fs-vmenu>li>a:hover:after {
   background-position: center right;
}

ul.fs-vmenu>li{
   margin-top:4px;
}
ul.fs-vmenu>li>ul{
   margin-top:4px;
   padding-bottom: 0;
}
ul.fs-vmenu>li:first-child{
   margin-top:0;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.fs-vmenu ul li{
   margin: 0;
   padding: 0;
}
ul.fs-vmenu li li, ul.fs-vmenu li li a {
   position:relative;
}

ul.fs-vmenu ul a
{
   display: block;
   position:relative;
   white-space: nowrap;
   height: 24px;
   overflow: visible;
   background-image: url('../images/vsubitem.png');
   background-repeat: repeat-x;
   background-position: top left;
   padding:0;
   padding-left:15px;
   padding-right:15px;
   line-height: 24px;
   color: #575757;
   margin-left: 0;
   margin-right: 0;
}

ul.fs-vmenu ul a.active{
   background-position: bottom left;
}
ul.fs-vmenu ul a:hover{
   background-position: center left;
   line-height: 24px;
   color: #575757;
   margin-left: 0;
   margin-right: 0;
}
ul.fs-vmenu ul li li a:hover, ul.fs-vmenu ul li li a:hover.active{
   background-position: left center;
}

ul.fs-vmenu ul a:link, ul.fs-vmenu ul a:visited, ul.fs-vmenu ul a:active
{
   line-height: 24px;
   color: #575757;
   margin-left: 0;
   margin-right: 0;
}

ul.fs-vmenu>li>ul>li:first-child{
   padding-top: 0;
   margin-top:0;
}
 
ul.fs-vmenu li li{
   position:relative;
   margin-top:0;
}

ul.fs-vmenu ul ul a{
   padding-left:30px;
}
ul.fs-vmenu ul ul ul a{
   padding-left:45px;
}
ul.fs-vmenu ul ul ul ul a{
   padding-left:60px;
}
ul.fs-vmenu ul ul ul ul ul a{
   padding-left:75px;
}

ul.fs-vmenu ul li a.active {
   color: #0077FF;
}
ul.fs-vmenu ul li a:hover, ul.fs-vmenu ul li a:hover.active {
   color: #003E85;
}

/* end VMenuSubItem */

/* begin Box, Block */
.fs-block
{
   max-width:984px;
   margin: 10px;
}
.fs-block-body 
{
   padding:0;
}

div.fs-block img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
   margin: 0;
}

/* end Box, Block */

/* begin BlockHeader */
.fs-blockheader {
   margin-bottom: 0;
   min-height: 26px;
   line-height:26px;
}

.fs-blockheader .t
{
   min-height: 26px;
   line-height:26px;
   color: #000000;
   font-size: 14px;
   margin:0;
   padding: 0 5px 0 5px;
   white-space: nowrap;
}

.fs-blockheader .t a,
.fs-blockheader .t a:link,
.fs-blockheader .t a:visited, 
.fs-blockheader .t a:hover
{
   color: #000000;
   font-size: 14px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.fs-blockcontent
{
   max-width:984px;
}
.fs-blockcontent-body 
{
   padding:5px;
   color: #3D3D3D;
   font-family: Arial, Helvetica, Sans-Serif;
   font-size: 12px;
}
.fs-blockcontent-body table,
.fs-blockcontent-body li, 
.fs-blockcontent-body a,
.fs-blockcontent-body a:link,
.fs-blockcontent-body a:visited,
.fs-blockcontent-body a:hover
{
   color: #3D3D3D;
   font-family: Arial, Helvetica, Sans-Serif;
   font-size: 12px;
}

.fs-blockcontent-body p
{
   margin: 12px 0;
}

.fs-blockcontent-body a, .fs-blockcontent-body a:link
{
   color: #006DEB;
   text-decoration: underline;
}

.fs-blockcontent-body a:visited, .fs-blockcontent-body a.visited
{
   color: #919191;
   text-decoration: none;
}

.fs-blockcontent-body a:hover, .fs-blockcontent-body a.hover
{
   color: #09BDDC;
   text-decoration: none;
}

.fs-blockcontent-body ul li
{
   font-size: 13px;
   line-height: 125%;
   color: #696969;
   margin: 5px 0 0 10px;
   padding: 0 0 0 12px;
   background-image: url('../images/blockcontentbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
}
/* end Box, BlockContent */

/* begin Box, Post */
.fs-post
{
   max-width:984px;
   margin: 0;
}
.fs-post-body 
{
   padding:10px;
}

a img
{
   border: 0;
}

.fs-article img, img.fs-article, .fs-block img, .fs-footer img
{
   border-color: #C7C7C7;
   border-style: solid;
   border-width: 0;
   margin: 7px 7px 7px 7px;
}

.fs-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.fs-article table, table.fs-article
{
   border-collapse: collapse;
   margin: 1px;
}

.fs-post .fs-content-layout-br
{
   height: 0;
}

.fs-article th, .fs-article td
{
   padding: 2px;
   border: solid 1px #A6A6A6;
   vertical-align: top;
   text-align: left;
}

.fs-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

#preview-image
{
   float: left;
   }

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.preview-sharepoint-logo
{
   border: 0;
   margin: 5px;
   float: left;
}
/* end Box, Post */

/* begin PostHeaderIcon */
.fs-postheader
{
   color: #00397A;
   margin: 5px 0;
   line-height: 1em;
   font-size: 20px;
}

.fs-postheader a, 
.fs-postheader a:link, 
.fs-postheader a:visited,
.fs-postheader a.visited,
.fs-postheader a:hover,
.fs-postheader a.hovered
{
   font-size: 20px;
}

.fs-postheader a, .fs-postheader a:link
{
   text-align: left;
   text-decoration: none;
   color: #005DC7;
}

.fs-postheader a:visited, .fs-postheader a.visited
{
   color: #636363;
}

.fs-postheader a:hover,  .fs-postheader a.hovered
{
   color: #09BDDC;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.fs-postheadericons,
.fs-postheadericons a,
.fs-postheadericons a:link,
.fs-postheadericons a:visited,
.fs-postheadericons a:hover
{
   font-family: Arial, Helvetica, Sans-Serif;
   color: #696969;
}

.fs-postheadericons
{
   padding: 1px;
}

.fs-postheadericons a, .fs-postheadericons a:link
{
   text-decoration: none;
   color: #006DEB;
}

.fs-postheadericons a:visited, .fs-postheadericons a.visited
{
   font-style: italic;
   font-weight: normal;
   color: #0051AD;
}

.fs-postheadericons a:hover, .fs-postheadericons a.hover
{
   font-style: italic;
   font-weight: normal;
   text-decoration: underline;
   color: #09BDDC;
}

/* end PostIcons, PostHeaderIcons */

/* begin PostIcon, PostDateIcon */
span.fs-postdateicon
{
   display:inline-block;
   line-height: 1em;
}

span.fs-postdateicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostDateIcon */

/* begin PostIcon, PostAuthorIcon */
span.fs-postauthoricon
{
   display:inline-block;
   line-height: 1em;
}

span.fs-postauthoricon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostAuthorIcon */

/* begin PostIcon, PostEditIcon */
span.fs-postediticon
{
   display:inline-block;
   line-height: 1em;
}

span.fs-postediticon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostEditIcon */

/* begin PostBullets */
.fs-postcontent ol, .fs-postcontent ul
{
   margin: 1em 0 1em 2em;
   padding: 0;
}

.fs-postcontent li
{
   font-size: 13px;
   color: #001329;
   margin: 3px 0 0 -15px;
   padding: 0 0 0 13px;
}

.fs-postcontent li ol, .fs-post li ul
{
   margin: 0.5em 0 0.5em 2em;
   padding: 0;
}

.fs-postcontent ol>li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.fs-postcontent ul>li
{
   background-image: url('../images/postbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
   padding-left: 13px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote a, .fs-postcontent blockquote a, .fs-blockcontent blockquote a, .fs-footer blockquote a,
blockquote a:link, .fs-postcontent blockquote a:link, .fs-blockcontent blockquote a:link, .fs-footer blockquote a:link,
blockquote a:visited, .fs-postcontent blockquote a:visited, .fs-blockcontent blockquote a:visited, .fs-footer blockquote a:visited,
blockquote a:hover, .fs-postcontent blockquote a:hover, .fs-blockcontent blockquote a:hover, .fs-footer blockquote a:hover
{
   color: #0F0F0F;
   font-style: italic;
   font-weight: normal;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.fs-postcontent blockquote p,
.fs-blockcontent blockquote p,
.fs-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

blockquote
{
   margin: 10px;
   padding: 10px;
   background-color: #E0E0E0;
   margin-left: 50px;
   padding-left: 38px;
   background-image: url('../images/postquote.png');
   background-position: left top;
   background-repeat: no-repeat;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.fs-postfootericons,
.fs-postfootericons a,
.fs-postfootericons a:link,
.fs-postfootericons a:visited,
.fs-postfootericons a:hover
{
   font-family: Arial, Helvetica, Sans-Serif;
   color: #696969;
}

.fs-postfootericons
{
   padding: 1px;
}

.fs-postfootericons a, .fs-postfootericons a:link
{
   text-decoration: none;
   color: #006DEB;
}

.fs-postfootericons a:visited, .fs-postfootericons a.visited
{
   color: #0051AD;
}

.fs-postfootericons a:hover, .fs-postfootericons a.hover
{
   color: #09BDDC;
}

/* end PostIcons, PostFooterIcons */

/* begin PostIcon, PostCategoryIcon */
span.fs-postcategoryicon
{
   display:inline-block;
   line-height: 1em;
}

span.fs-postcategoryicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostCategoryIcon */

/* begin PostIcon, PostTagIcon */
span.fs-posttagicon
{
   display:inline-block;
   line-height: 1em;
}

span.fs-posttagicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostTagIcon */

/* begin PostIcon, PostCommentsIcon */
span.fs-postcommentsicon
{
   display:inline-block;
   line-height: 1em;
}

span.fs-postcommentsicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostCommentsIcon */

/* begin Footer */
.fs-footer
{
   position: relative;
   margin-top:0;
   margin-bottom:0;
   width: 100%;
}

.fs-footer-body
{
   position:relative;
   padding: 5px;
   color: #E0E0E0;
   font-size: 11px;
}

.fs-footer-body ul li
{
   color: #F5F5F5;
   padding: 0 0 0 13px;
   background-image: url('../images/footerbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
}

.fs-footer-body:before
{
   position: absolute;
   content:' ';
   z-index:-2;
   left:0;
   right:0;
   top:0;
   bottom:5px;
   background-image: url('../images/footer.png');
   background-position:bottom left;
}

.fs-footer:before, .fs-footer:after 
{
   position: absolute;
   content:' ';
   z-index:-2;
   bottom:0;
   height:5px;
   background-image: url('../images/footer_b.png');
}

.fs-footer:before
{
   left:0;
   right:5px;
   background-position: bottom left;
}

.fs-footer:after
{
   right:0;
   width:5px;
   background-position: bottom right;
}

.fs-footer-body .fs-rss-tag-icon
{
   position: absolute;
   left:   6px;
   bottom:5px;
   z-index:1;
}

.fs-rss-tag-icon
{
   display: block;
   background-image: url('../images/rssicon.png');
   background-position: center right;
   background-repeat: no-repeat;
   height: 32px;
   width: 32px;
   cursor: default;
}

.fs-footer-text p
{
   padding:0;
   margin:0;
   text-align: center;
}

.fs-footer-body a,
.fs-footer-body a:link,
.fs-footer-body a:visited,
.fs-footer-body a:hover,
.fs-footer-body td, 
.fs-footer-body th,
.fs-footer-body caption
{
   color: #E0E0E0;
   font-size: 11px;
}

.fs-footer-text
{
   min-height: 33px;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}

.fs-footer-body a,
.fs-footer-body a:link
{
   color: #99C9FF;
   text-decoration: none;
}

.fs-footer-body a:visited
{
   color: #CCCCCC;
}

.fs-footer-body a:hover
{
   color: #09BDDC;
   text-decoration: underline;
}

div.fs-footer img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
   margin: 0;
}/* end Footer */

/* begin PageFooter */
.fs-page-footer, 
.fs-page-footer a,
.fs-page-footer a:link,
.fs-page-footer a:visited,
.fs-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #0051AD;
}

.fs-page-footer
{
   position: relative;
   z-index: 10;
   padding: 1em;
   text-align: center;
   text-decoration: none;
   color: #575757;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */
.fs-content-layout .fs-sidebar1
{
   width: 275px;
}
/* end LayoutCell, sidebar1 */


