
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
  </head>
  <body>
    <h1><%= @title %></h1>
    <p>
      Contact Ruby on Rails Tutorial about the sample app at the
      <a href="http://localhost:3000/pages/home">goto... Home</a>.
	   <a href="http://localhost:3000/pages/about">goto... about</a>.
    </p>
  </body>
</html>