<div class="fs-box fs-vmenublock">
    <div class="fs-box-body fs-vmenublock-body">
                <div class="fs-bar fs-vmenublockheader">
                    <h3 class="t">Menu verticale</h3>
                </div>
                <div class="fs-box fs-vmenublockcontent">
                    <div class="fs-box-body fs-vmenublockcontent-body">
                <ul class="fs-vmenu">
	<li>
		<a href="./new-page.html" class="active">Sezioni</a>
		<ul class="active">
			<li>
                <a href="./new-page/new-page.html">Subpage 1</a>

            </li>
			<li>
                <a href="./new-page/new-page-2.html">Subpage 2</a>

            </li>
			<li>
                <a href="./new-page/new-page-3.html">Subpage 3</a>

            </li>
		</ul>
	</li>	
	<li>
		<a href="./new-page-2.html">Page 2</a>
	</li>	
</ul>
                
                                		<div class="cleared"></div>
                    </div>
                </div>
		<div class="cleared"></div>
    </div>
</div>